body {
    background-repeat: no-repeat;
    background-color: black;
    background-size: 100%;
    text-align: center;
}

.container{
    background-color: grey;
    text-align: center;
    opacity: 9;
}